apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ztunnel
  namespace: istio-system
spec:
  interval: 1h
  chart:
    spec:
      chart: ztunnel
      version: '1.28.3'
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: istio-system
