apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-cni
  namespace: istio-system
spec:
  interval: 1h
  chart:
    spec:
      chart: cni
      version: '1.28.3'
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: istio-system
  values:
    profile: ambient
