apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istiod
  namespace: istio-system
spec:
  interval: 1h
  timeout: 20m
  chart:
    spec:
      chart: istiod
      version: '1.28.3'
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: istio-system
  values:
    profile: ambient
