apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istio-base
  namespace: istio-system
spec:
  interval: 1h
  timeout: 20m
  chart:
    spec:
      chart: base
      version: '1.28.3'
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: istio-system
