apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: goldilocks
  namespace: goldilocks
spec:
  interval: 30m
  chart:
    spec:
      chart: goldilocks
      version: "10.2.0"
      sourceRef:
        kind: HelmRepository
        name: fairwinds-stable
  values:
    controller:
      resources:
        requests:
          cpu: 1m
          memory: 31M
        limits:
          cpu: 3m
          memory: 154M
    dashboard:
      replicaCount: 1
      resources:
        requests:
          cpu: 1m
          memory: 33M
        limits:
          cpu: 2m
          memory: 155M
