apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: digger
  namespace: digger
spec:
  interval: 30m
  chart:
    spec:
      chart: digger-backend
      version: "0.1.12"
      sourceRef:
        kind: HelmRepository
        name: digger
  values:
    digger:
      image:
        repository: registry.digger.dev/diggerhq/digger_backend
        tag: "v0.6.142"
      resources:
        requests:
          cpu: 1m
          memory: 31M
        limits:
          cpu: 2m
          memory: 72M
      ingress:
        enabled: false
      secret:
        useExistingSecret: true
        existingSecretName: digger-digger-backend-secret
      postgres:
        existingSecretName: "digger.digger-cluster.credentials.postgresql.acid.zalan.do"
        existingSecretKey: "password"
        user: "digger"
        database: "digger"
        host: "digger-cluster"
        sslmode: "require"
        allow_dirty: true